.footer {
    font-size: 110%;
    text-align: center;
    padding: 50px 0;
    border-top: 0;
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
    margin-right: auto;
    margin-left: auto;
    background-color: #f3f3f3;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.container {
    width: 1230px;
}